.header-outer{
    width: 100%;
    height: 60px;
    padding: 0 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 40px;
}
